{% extends 'base/base.html' %}

{% block title %}| EVENTS{% endblock title %}

{% block content %}
<h1>All Events</h1>

<hr>
{% for event in events reversed %}

    {% if event.date >= curr_date %}
    
        Event: {{event.event}} <br>
        By: {{event.event_org}} <br>
        At: {{event.date}} <br>
        Starts at: {{event.starting_time}} <br>
        Ends at: {{event.ending_time}} <br>

        <button type="submit"><a href="{% url 'book-event' %}">Book our place</a></button>
        
        <hr>
    {% endif %}
    
{% endfor %}

{% endblock content %}

